@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700,900&display=swap');

body, html {
    font-family: Nunito, sans-serif;
    background-color: #3C3C3C;
    color: #fff;
}

body a, a:hover {
    color: #419d78;
    text-decoration: none;
}

h1 {
    font-weight: 900;
    color: #f2af29;
}

nav {
    background-color: #087e8b;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #419d78;
}

nav a .navbar-brand {
    font-weight: 700;
}

.user-pic-nav {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 8px 15px;
    overflow: hidden;
    display:block;
    border: 3px #63b4bd solid;
}

.navbar .nav-user {
    color: #f2af29;
}

.dash {
    margin: 0 auto;
    padding-top: 3%;
}

.user-stats {
    padding: 20px;
}

#message-bubble {
	position: relative;
    background: #087e8b;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 1em;
    width: 80%;
    padding: 20px 0px 1px 0px;
    margin: 20px auto 30px;
    text-align: center;
}

#message-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-top-color: #087e8b;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.375em;
	margin-bottom: -0.75em;
}

.user-pic-default {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #087e8b;
    display: block;
    margin: 20px 0px;
    text-align: center;
    padding: 80px 0;
    font-size: 2em;
}

.user-pic-main {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    overflow: hidden;
}

.user-pic-main-display {
    display: block;
    width: 100%;
}

.custom-file {
    width: 200px;
}

.custom-file-label {
    text-align: left;
}

.upload-button {
    text-decoration: none;
    background-color: #419d78;
    border: 0px;
    color: #fff;
    margin: 20px;
}

.upload-button:hover {
    text-decoration: none;
    background-color: #087e8b;
    border: 0px;
    color: #fff;
}

.recent-workout {
    margin-top: 35px;
}

.highlight {
    font-weight: 700;
    color: #f2af29;
}

.add-stuff {
    border-left: #f2af29 1px solid;
    padding: 20px;
}

.add-stuff .view-item {
    font-size: .5em;
    text-align: right;
}

.add-message {
    padding-bottom: 20px;
}

.range-field {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: rgb(148, 148, 148);
    outline: none;
}

#range-number option {
    background-color: #ff5a5f;
    z-index: -1;
    height: 30px;
}

.range-field::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #419d78;
    cursor: pointer;
}

.range-field::-moz-range-thumb {
    height: 15px;
    border-radius: 50%;
    background: #419d78;
    cursor: pointer;
}

.profile {
    padding-top: 30px;
}

.edit-profile, .edit-profile:hover {
    color: #419d78;
    text-decoration: none;
    margin: -10px 0px 30px -8px;
}

#timeOutputId {
    padding: 10px 0 0 0;
}

.modal-body {
    color: #3C3C3C;
}

.add-button-message {
    align-self: flex-end;
    margin-top: 30px;
}

.table {
    margin-top: 3%;
    color: #fff;
}

.table tr th {
    font-weight: 700;
    border-top: 0px;
}

.table tr td {
    border-top: #f2af29 1px solid;
    padding-top: 15px;
}

.light {
    font-size: .8em;
    font-weight: 200;
}

.table tr td .delete-item {
    font-size: .8em;
    color: #ff5a5f;
    text-decoration: none;
}

.edit-item {
    font-size: .8em;
    color: #419d78;
    text-decoration: none;
}

.view-buttons {
    display: inline;
}

#edit-message-modal {
    color: #3C3C3C;
}

.modal-title {
    font-weight: 700;
    color: #419d78;
}

footer {
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}