@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');

body, html {
    font-family: Nunito, sans-serif;
    background-color: #CCEAEC;
    color: #3C3C3C;
}

body a, a:hover {
    color: #419d78;
    text-decoration: none;
}

h1 {
    font-weight: 900;
}

nav {
    background-color: #087e8b;
    box-shadow: #a0a0a0 0px 5px 3px;
    color: #fff;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #419d78;
}

nav a .navbar-brand {
    font-weight: 700;
}

.navbar .nav-user {
    color: #f2af29;
}

.signup, .login {
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: 0px;
    padding: 25px;
}

.error {
    color: #FA5A60;
    font-size: .7em;
}

.signup h1, .login h1 {
    color: #FA5A60;
}

.rally-info h3 {
    font-weight: 700;
    color: #1a7e8a;
}

.rally-info ul {
    margin: 0;
    padding-left: 20px;
}

.dash {
    background-color: #3C3C3C;
}

.add-stuff {
    border-left: #f2af29 1px solid;
}