<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: dash-head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <div class="dash row">
        <div class="user-stats">
            <h1>Hi there, <span th:text="${user.nickname}"></span></h1>
            <div th:unless="${user.pic}" class="user-pic-default mx-auto img-fluid">
                <span th:unless="${user.pic}" th:text="${user.nickname}"></span>
            </div>
            <div th:if="${user.pic}" class="mx-auto img-fluid user-pic-main">
                <img th:if="${user.pic}" src="'uploads/' + ${user.pic}" width="200" class="user-pic-main-display" th:src="@{'uploads/' + ${user.pic}}" />
            </div>
            <div class="text-center">
            <form th:action="@{/upload-pic}" method="post" enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" path="pic" class="custom-file-input" name="pic" th:id="pic"
                           accept=".gif,.jpg,.png, image/*"/>
                    <label class="custom-file-label" th:for="pic">Choose file...</label>
                    <input type="submit" class="btn btn-link upload-button" value="Upload"/>
                </div>
            </form>
            </div>
        </div>
        <div class="add-stuff">
            <div class="add-message">
                <h3>Add new message&emsp;<span><a href="/messages" class="view-item">view messages</a></span></h3>
                <form method="post" th:object="${message}" id="message-form">
                    <div class="form-group">
                        <label th:for="message">Message</label>
                        <input type="text" class="form-control" th:field="*{msg}" />
                        <p th:errors="*{msg}" class="error"></p>
                    </div>
                        <div class="form-group form-row">
                            <label th:for="msg_type" class="col-form-label">Type
                            <select th:field="*{msg_type}" class="form-control">
                                <option th:each="type : ${messageType}"
                                th:text="${type.name}"
                                th:value="${type}"></option>
                            </select>
                            </label>
                            <p th:errors="*{msg_type}" class="error"></p>
                            <p th:text="${status}" class="error"></p>&emsp;&emsp;
                            <div class="form-group form-inline">
                                <input type="submit" class="form-control btn btn-outline-info add-button-message" value="Add" />
                            </div>
                        </div>
                </form>
            </div>
            <div class="add-workout">
                <h3>Add Workout&emsp;<span><a href="/workouts" class="view-item">view workouts</a></span></h3>
                <form method="post" action="?workout-form" th:object="${workout}" id="workout-form">
                    <div class="form-group">
                        <label th:for="type">Workout Type</label>
                        <input type="text" class="form-control" th:field="*{type}" />
                        <p th:errors="*{type}" class="error"></p>
                    </div>
                    <div class="form-group">
                        <label th:for="time">Time</label>
                        <input type="range" class="form-control-range range-field" th:field="*{time}" min="1" max="180"
                        th:value="time.value" oninput="timeOutputId.value = time.value"/><output id="timeOutputId"></output>
                        <p th:error="*{time}" class="error"></p>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-outline-info" value="Add" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>