<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body class="container">
<div class="container">
        <div class="signup row">
            <div class="col-md-6 col-lg-7">
                <h1 th:text="${title}"></h1>
                <form method="post" th:object="${user}" id="signup-form">
                    <div class="form-group">
                        <label th:for="Nickname">Nickname</label>
                        <input type="text" class="form-control" th:field="*{nickname}" />
                        <p th:errors="*{nickname}" class="error"></p>
                    </div>
                    <div class="form-group">
                        <label th:for="email">Email</label>
                        <input type="email" class="form-control" th:field="*{email}" />
                        <p th:errors="*{email}" class="error"></p>
                        <p th:text="${duplicate}" class="error"></p>
                    </div>
                    <div class="form-group">
                        <label th:for="email">Password</label>
                        <input type="password" class="form-control" th:field="*{password}" />
                        <p th:errors="*{password}" class="error"></p>
                    </div>
                    <div class="form-group">
                        <label th:for="verifyPass">Verify Password</label>
                        <input type="password" class="form-control" th:name="verifyPass" />
                        <p th:text="${verifyPass}" class="error"></p>
                    </div>
                    <input type="submit" class="btn btn-info" value="Register" />
                </form>
                <p>Aleady a registered user? <a href="/login">Log in here.</a></p>
            </div>
            <div class="rally-info col-md-6 col-lg-5">
                <h3>What is Rally?</h3>
                <p>Rally allows you to hold yourself accountable for fitness' sake. </p>
                <ul>
                    <li>Give yourself (un)inspirational messages to help achieve your goals</li>
                    <li>Log each workout you complete</li>
                    <li>Track your workout goals each week</li>
                </ul>
            </div>
        </div>
</div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>