<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: main-head"></head>

<body>
<div class="container">
    <div class="login col-sm-8 col-md-6 col-lg-5">
        <h1 th:text="${title}"></h1>
        <form method="post" th:object="${user}" id="login-form">
            <div class="form-group">
                <label th:for="email">Email</label>
                <input type="email" class="form-control" th:field="*{email}" />
                <p th:errors="*{email}" class="error"></p>
                <p th:text="${none}" class="error"></p>
            </div>
            <div class="form-group">
                <label th:for="password">Password</label>
                <input type="password" class="form-control" th:field="*{password}" />
                <p th:errors="*{password}" class="error"></p>
                <p th:text="${invalid}" class="error"></p>
            </div>
            <input type="submit" class="btn btn-info" value="Log In" />
        </form>
    </div>
</div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>