<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: dash-head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<table class="table">
    <tr>
        <th>Message</th>
        <th>Type</th>
        <th>Date</th>
        <th></th>
    </tr>

    <tr th:each="message : ${messages}">
        <td th:text="${message.msg}"></td>
        <td class="light" th:text="${message.msg_type.name}"></td>
        <td class="light" th:text="${#dates.format(message.date, 'dd-MMM-yyyy')}"></td>
        <td><form method="post" class="view-buttons">
            <input type="submit" class="btn btn-link btn-sm edit-item" value="edit"/>
            </form>&emsp;&emsp;
            <form th:action="@{messages/delete}" method="post" class="view-buttons">
                <input type="hidden" name="id" th:value="${message.id}"/>
            <input type="submit" class="btn btn-link btn-sm delete-item" value="delete"/>
            </form>
        </td>
    </tr>
</table>
</div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>