<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: dash-head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
    <div class="profile row">
        <div class="col-md-4">
            <div th:unless="${user.pic}" class="user-pic-default mx-auto img-fluid">
                <span th:unless="${user.pic}" th:text="${user.nickname}"></span>
            </div>
            <div th:if="${user.pic}" class="mx-auto img-fluid user-pic-main">
                <div class="edit-image-thumbnail-container">
                    <img th:if="${user.pic}" src="'uploads/' + ${user.pic}" class="img-responsive user-pic-main-display" th:src="@{'uploads/' + ${user.pic}}" />
                <div class="overlay">
                    <button type="button" id="change-pic-button" class="btn btn-link btn-sm" data-toggle="modal"
                            th:attr="data-target='#change-pic-modal'+${user.id}"><i class="far fa-edit"></i></button>
                </div>
                </div>
                </div>
            <!-- Change Pic -->
            <div id="change-pic-container">
                <div class="modal crop-modal text-center" th:id="'change-pic-modal'+${user.id}" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Change Photo</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="change-image-container">
                                    <img src="" id="change-image" />
                                </div>
                                <form th:action="@{/upload-pic}" method="post" id="img-form" enctype="multipart/form-data">
                                    <div class="custom-file">
                                        <div class="form-group">
                                            <label class="custom-file-label" th:for="pic">Choose file...</label>
                                            <input type="file" path="pic" class="form-control-file custom-file-input"
                                                   name="pic" th:id="pic" accept=".gif,.jpg,.png, image/*" />
                                            <input type="hidden" id="baseImage" name="baseImage" />
                                            <input type="hidden" name="id" th:value="${user.id}" />
                                            <button id="imageUpload" type="button" name="imageUpload"
                                                    class="form-control btn btn-outline-info" style="margin: 10px 0px;">upload</button>
                                        </div>
                                    </div>
                                </form>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Change nickname -->
            <div class="container">
            <h1 class="profile-item" th:text="${user.nickname}"></h1>
            <button type="button" id="change-nickname-button" class="btn btn-link btn-sm edit-profile" data-toggle="modal"
                    th:attr="data-target='#change-nickname-modal'+${user.id}">
                <i class="far fa-edit"></i>
            </button>
            <div class="modal fade" th:id="'change-nickname-modal'+${user.id}" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Change Nickname</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" th:action="@{profile/change-nickname}" th:object="${user}" th:id="${user}">
                                <div class="form-group">
                                    <label th:for="currentnickname">Current Nickname</label>
                                    <input type="text" disabled="disabled" class="form-control" name="currentnickname" th:value="${user.nickname}" />
                                </div>
                                <div class="form-group">
                                    <label th:for="newnickname">New Nickname</label>
                                    <input type="text" class="form-control" name="newnickname" />
                                </div>
                                <div class="form-group">
                                    <label th:for="password">Password</label>
                                    <input type="password" class="form-control" name="password" />
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="id" th:value="${user.id}"/>
                                    <input type="submit" class="form-control btn btn-outline-info add-button-message" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--Change email-->
            <div class="container">
            <h5 class="profile-item" th:text="${user.email}"></h5>
            <button type="button" id="change-email-button" class="btn btn-link btn-sm edit-profile" data-toggle="modal"
                    th:attr="data-target='#change-email-modal'+${user.id}">
                <i class="far fa-edit"></i>
            </button>
            <div class="modal fade" th:id="'change-email-modal'+${user.id}" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Change Email</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" th:action="@{profile/change-email}" th:object="${user}" th:id="${user}">
                                <div class="form-group">
                                    <label th:for="currentemail">Current Email</label>
                                    <input type="email" disabled="disabled" class="form-control" name="currentemail" th:value="${user.email}" />
                                </div>
                                <div class="form-group">
                                    <label th:for="newpassword">New Email</label>
                                    <input type="email" class="form-control" name="newemail" />
                                </div>
                                <div class="form-group">
                                    <label th:for="password">Password</label>
                                    <input type="password" class="form-control" name="password" />
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="id" th:value="${user.id}"/>
                                    <input type="submit" class="form-control btn btn-outline-info add-button-message" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--Change Password-->
            <div class="container">
            <h5 class="profile-item">Change Password</h5><button type="button" id="change-password-button" class="btn btn-link btn-sm edit-profile" data-toggle="modal"
                                            th:attr="data-target='#change-password-modal'+${user.id}">
            <i class="far fa-edit"></i>
        </button>
            <div class="modal fade" th:id="'change-password-modal'+${user.id}" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Change Password</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" th:action="@{profile/change-password}" th:object="${user}" th:id="${user}">
                                <div class="form-group">
                                    <label th:for="currentpassword">Current Password</label>
                                    <input type="password" class="form-control" name="currentpassword" />
                                </div>
                                <div class="form-group">
                                    <label th:for="newpassword">New Password</label>
                                    <input type="password" class="form-control" name="newpassword" />
                                </div>
                                <div class="form-group">
                                    <label th:for="retypepassword">Re-type New Password</label>
                                    <input type="password" class="form-control" name="retypepassword" />
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="id" th:value="${user.id}"/>
                                    <input type="submit" class="form-control btn btn-outline-info add-button-message" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: scripts"></div>
<script src="croppie.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    // show image on file selection
    var reader = new FileReader();
    var file;

    reader.onload = function(r_event) {
      document.getElementById('change-image').setAttribute('src', r_event.target.result);
    }

    document.getElementsByName('pic')[0].addEventListener('change', function(event) {
        $('#change-image-container').show();
        reader.readAsDataURL(this.files[0]);
        console.log('File set');
        file = this.files[0];
        console.log(file);
    });

    reader.onloadend = function(o) {
         // set up croppie
        var c = $('#change-image').croppie({
            viewport: {
                width: 200,
                height: 200,
            },
            boundary: {
                width: 300,
                height: 300
            }
        });

        console.log('Croppie set');

        // display croppie
        c.croppie('bind', {
            url: $('#change-image').attr('src'),
        });
        console.log('Croppie bound');

        $('#imageUpload').on('click', function(){
            c.croppie('result', {
                type: 'base64',
                format: 'png',
                size: { width: 200, height: 200 }
            })
            .then(function(b64String) {
                $('#baseImage').val(b64String);
                $('#img-form').submit();

            });
        });

    }
</script>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>